<button routerLink="/" class="btn btn-link mb-3">⬅ Back</button>
<div
  *ngIf="showSuccess"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  {{ successMessage }}
</div>


<h2 class="mb-3">
  Department Details <span class="text-danger">*</span>
</h2>

<div class="container mt-4">

  <!-- TOP BAR -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary" (click)="openAddPopup()">
      Add Department
    </button>

    <input type="text" class="form-control w-25" placeholder="Search..." (input)="onSearch($event.target.value)">
  </div>

  <!-- TABLE -->
  <table class="table table-bordered text-center">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th (click)="sortByName()" style="cursor:pointer">
          Name ⬍
        </th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of rows; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ r.name }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Action
            </button>

            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" (click)="openEditPopup(r)">
                  ✏️ Edit
                </button>
              </li>

              <li>
                <button class="dropdown-item text-danger" (click)="deleteDepartment(r.id)">
                  🗑️ Delete
                </button>
              </li>
            </ul>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

  <!-- NO DATA -->
  <p *ngIf="rows.length === 0" class="text-center text-muted">
    No data found
  </p>
</div>

<!-- ================= MODAL ================= -->
<div class="modal fade show d-block" *ngIf="showPopup">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isEdit ? 'Edit Department' : 'Add Department' }}
        </h5>
        <button class="btn-close" (click)="closePopup()"></button>
      </div>

      <!-- BODY -->
      <form [formGroup]="departmentForm">

        <div class="modal-body">
          <input type="text" class="form-control " [class.is-invalid]=" departmentForm.get('name')?.invalid &&  (departmentForm.get('name')?.touched || submitted)
                  " formControlName="name" placeholder="Enter Department Name" />

          <!-- Validation messages -->
          <div class="text-danger mt-1" *ngIf="departmentForm.get('name')?.touched ">



            <small *ngIf="departmentForm.get('name')?.errors?.['minlength']">
              Minimum 3 characters required
            </small>

            <small *ngIf="departmentForm.get('name')?.errors?.['pattern']">
              Only alphabets allowed
            </small>

          </div>
          <div class="text-danger mt-1" *ngIf="submitted && departmentForm.get('name')?.invalid">
            Please add Department
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closePopup()">
            Cancel
          </button>

          <button type="button" class="btn btn-success" (click)="saveData()">
            Save
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
